<html lang ="en">
    <head>
        <title>
            HEALTH MONITOR
        </title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <button class="get">click me to get data </button>
        </div>
      
    </body>
    <script>
      const button=document.querySelector('.get');

      button.addEventListener('click',(e)=>{
                getData();
        
      })

      function getData(){
    
       url = "https://api.github.com/users";
       fetch(url).then(response=> response.text())
       .then(data=> console.log(data) )
 }
    </script>
</html>

